<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>

    <context id="DB2Tables" targetRuntime="MyBatis3">
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <!--数据库链接地址账号密码-->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://47.100.240.175:3306/VehiclePlatform?nullCatalogMeansCurrent=true"
                        userId="now" password="Heycars@2019">
        </jdbcConnection>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!--生成Model类存放位置-->
        <javaModelGenerator targetPackage="com.sprongcloud.dao.model" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!--生成映射文件存放位置-->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!--生成Dao类存放位置-->
        <!-- 客户端代码，生成易于使用的针对Model对象和XML配置文件 的代码
                type="ANNOTATEDMAPPER",生成Java Model 和基于注解的Mapper对象
                type="MIXEDMAPPER",生成基于注解的Java Model 和相应的Mapper对象
                type="XMLMAPPER",生成SQLMap XML文件和独立的Mapper接口
        -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.sprongcloud.dao" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <!--生成对应表及类名-->

        <table schema="VehiclePlatform" tableName="role" domainObjectName="role"
               enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="user" domainObjectName="user"
               enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>


        <table schema="VehiclePlatform" tableName="MessageTaskTemplate" domainObjectName="MessageTaskTemplate"
               enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="MessageTaskSendRecord" domainObjectName="MessageTaskSendRecord"
               enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="User" domainObjectName="User" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="Department" domainObjectName="Department" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="AuditLog" domainObjectName="AuditLog" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="Project" domainObjectName="Project" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="ProjectUser" domainObjectName="ProjectUser"
               enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="Rule" domainObjectName="Rule" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
            <columnOverride column="Offices" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <columnOverride column="LimitRoutes" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </table>
        <table schema="VehiclePlatform" tableName="RuleUser" domainObjectName="RuleUser" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="OrderPay" domainObjectName="Orderpay" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="Flow" domainObjectName="Flow" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="FlowStep" domainObjectName="FlowStep" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="OrderMore" domainObjectName="OrderMore" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
            <columnOverride column="R_Offices" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <columnOverride column="R_LimitRoutes" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </table>
        <table schema="VehiclePlatform" tableName="CostCenter" domainObjectName="CostCenter" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="WorkDay" domainObjectName="WorkDay" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="Invoice" domainObjectName="Invoice" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="InvoiceBase" domainObjectName="InvoiceBase"
               enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="Message" domainObjectName="Message" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="OrderScore" domainObjectName="OrderScore" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="Customercomplaint" domainObjectName="Customercomplaint"
               enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="operationlogs" domainObjectName="OperationLogs"
               enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>

        <table schema="VehiclePlatform" tableName="UserWallet" domainObjectName="UserWallet" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="WalletRechargeRecord" domainObjectName="WalletRechargeRecord"
               enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="WalletConsumptionRecord" domainObjectName="WalletConsumptionRecord"
               enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="VehiclePlatform" tableName="ExchangeCode" domainObjectName="ExchangeCode"
               enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true">
            <generatedKey column="Id" sqlStatement="MySql" identity="true"/>
        </table>
    </context>
</generatorConfiguration>